:root{
    --color_theme: #60ad5e;
    --color_disabled_text: #808080;
    --color_background: #e8f5e9;
    --color_background_2: #c8e6c9;
    --color_text: #000;
    --color_header: #2e7d32;
    --color_header_text: #fff;
    --color_header_hover: #1faa00;
    --color_header_2_hover: #43a047;
    --color_header_preview: #004d40;
    --color_header_preview_hover: #1b5e20;
    --color_toolbar: #66bb6a;
    --color_toolbar_hover: #98ee99;
    --color_boader: #519657;
    --color_boader_2: #75a478;
    
    --color_input_text: #000;
    --color_input_boader: #519657;
    --color_input_background: #fbfffc;
    --color_input_focus: #388e3c;
    --color_input_disabled: #80e27e;
    
    --color_button_hover: #c8e6c9;
    --color_button_active: #81c784;
    
    --color_scrollbar-track: #1b5e20;
    --color_separator: #a5d6a7;
    
    --color_delete_icon: #519657;
    --color_delete_hover: #b2fab4;
    
    --color_prism_symbol: #b3e5fc;
    --color_prism_boolean: #1e88e5;
    --color_prism_number: #aed581;
    --color_prism_string: #ff9e80;
    --color_prism_keyword: #e91e63;
}
@media (prefers-color-scheme: dark){
    :root{
        --color_theme: #212121;
        --color_disabled_text: #808080;
        --color_background: #212121;
        --color_background_2: #424242;
        --color_text: #e8f5e9;
        --color_header: #000900;
        --color_header_text: #e8f5e9;
        --color_header_hover: #373737;
        --color_header_2_hover: #494949;
        --color_header_preview: #757575;
        --color_header_preview_hover: #9e9e9e;
        --color_toolbar: #757575;
        --color_toolbar_hover: #1b1b1b;
        --color_boader: #e8f5e9;
        --color_boader_2: #c8e6c9;
        
        --color_input_text: #e8f5e9;
        --color_input_boader: #e8f5e9;
        --color_input_background: #1b1b1b;
        --color_input_focus: #a5d6a7;
        --color_input_disabled: #b6c2b7;
        
        --color_button_hover: #c8e6c9;
        --color_button_active: #d7ffd9;
        
        --color_scrollbar-track: #fbfffc;
        --color_separator: #001100;
        
        --color_delete_icon: #e8f5e9;
        --color_delete_hover: #b2fab4;
    }
}