:root {
  --color-scrollbar-track: #096e0b;
  --color-header: #127815;
  --color-input-focus: #1d8320;
  --color-header-hover: #298e2d;
  --color-separator: #37993b;
  --color-toolbar: #47a34b;
  --color-input-border: #97cf9a;
  --color-toolbar-hover: #a7d6aa;
  --color-button-hover: #b8debb;
  --color-input-disabled: #cae6cc;
  --color-background: #ddedde;

  --color-list-secondary: var(--color-button-hover);
  --color-input-checkbox: var(--color-header);
  --color-input-toggle-focus: var(--color-toolbar-hover);
  --color-input-toggle-indeterminate: var(--color-header-hover);
  --color-input-toggle-on: var(--color-header);

  --color-text: #000;
  --color-textAlt: #fff;
  --color-textNeither: #888;
  --color-element-background: #fff;
  --color-input-text: #000;
  --color-input-background: #fff;
  --color-help-content-text: #000;
  --color-help-content-border: #555;
  --color-disabled-text: #6b6b6b;
  --color-header-text: #fff;
  --color-selected-tab: #fff;
  --color-help-content: #fff;
  --color-focus-text: #fff;
  --color-focus-foreground: rgba(0, 0, 0, 0.75);
  --color-focus-background: rgba(0, 0, 0, 0.4);
  --color-display-preview-background: #232323;

  --color-add: #0969cf;
  --color-remove: #cf0909;
  --color-error: #f44336;
  --color-error-background: #ffebee;
  --color-warning: #ffeb3b;
  --color-warning-background: #fffde7;

  --color-prism-symbol: #b3e5fc;
  --color-prism-boolean: #4f9fe5;
  --color-prism-number: #aed581;
  --color-prism-string: #ff9e80;
  --color-prism-keyword: #e91e63;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-header: #090909;
    --color-separator: #111111;
    --color-toolbar-hover: #1b1b1b;
    --color-background: #212121;
    --color-header-hover: #373737;
    --color-toolbar: #434343;
    --color-input-focus: #cfcfcf;
    --color-input-disabled: #5a5a5a;
    --color-button-hover: #e4e4e4;
    --color-input-border: #f5f5f5;
    --color-scrollbar-track: #fcfcfc;

    --color-list-secondary: #4f4f4f;
    --color-input-checkbox: #e4e4e4;
    --color-input-toggle-focus: #a9a9a9;
    --color-input-toggle-indeterminate: #c5c2c2;
    --color-input-toggle-on: #fff;

    --color-text: #f5f5f5;
    --color-textAlt: #111111;
    --color-element-background: #000;
    --color-input-text: #f5f5f5;
    --color-input-background: #000;
    --color-header-text: #f5f5f5;
    --color-selected-tab: #000;
    --color-disabled-text: #777777;
    --color-focus-text: #000;
    --color-focus-foreground: #fff;
    --color-focus-background: rgba(0, 0, 0, 0.5);

    --color-add: #5cabff;
    --color-remove: #ff6868;
    --color-error-background: #440000;
    --color-warning-background: #353000;
  }
}
