input,textarea,select{
    font: inherit;
    padding: 2px;
    border: 1px solid #519657;
    background-color: #fbfffc;
    border-radius: 4px;
}
input:focus,
textarea:focus,
select:focus{
    outline: thin solid #388e3c;
    -moz-outline-radius: 4px;
}
input[type="text"]{
    width: 50%;
    height: 1.5rem;
}
input[type="number"]{
    width: 3em;
    height: 1.5rem;
}
input[type="url"]{
    width: 50%;
    height: 1.5rem;
}
input[type="button"]{
    height: 1.5rem;
    vertical-align: middle;
    box-sizing: content-box;
    padding: 2px 0.5em;
}
input[type="button"]:hover{
    cursor: pointer;
    background-color: #c8e6c9;
}
input[type="button"]:active{
    background-color: #81c784;
}
input[type="checkbox"]{
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
}
input[type="checkbox"]:hover{
    cursor: pointer;
}
input[type="checkbox"]:focus{
    outline: none;
}
textarea{
    width: 50%;
}
select{
    height: 1.5rem;
    padding: 0 2px;
}
select:hover{
    cursor: pointer;
}
fieldset div{
    display: flex;
    align-items: center;
    margin: 2px 0;
}
div label{
    margin-right: 1em;
    word-break: keep-all;
}
div label+*{
    margin: 0;
}
/* タブ */
div.modules_controls,
div.dependencies_controls,
div.modules_contents,
div.dependencies_contents{
    margin: 0;
}
div.modules_controls_bar,
div.dependencies_controls_bar{
    position: relative;
    top: 2px;
    left: 2px;
    margin: 0;

}
ul.modules_controls_tab,
ul.dependencies_controls_tab{
    display: flex;
    padding: 0;
    margin: 0;
}
ul.modules_controls_tab li,
ul.dependencies_controls_tab li{
    border: 2px solid #75a478;
    padding: 0 0.5em;
    list-style: none;
    border-radius: 4px;
}
ul.modules_controls_tab li+li,
ul.dependencies_controls_tab li+li{
    border-left: none;
}
ul.modules_controls_tab li:hover,
ul.dependencies_controls_tab li:hover,
span.modules_controls_addtab:hover,
span.dependencies_controls_addtab:hover{
    cursor: pointer;
}
ul.modules_controls_tab li.selected_tab,
ul.dependencies_controls_tab li.selected_tab{
    border-bottom: 2px solid #e8f5e9;
}
li:first-child span.delete_tab,
li:first-child li:first-child span.delete_tab{
    display: none;
}
span.delete_tab,
span.metadata_remove_author{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    box-sizing: content-box;
    text-align: center;
    vertical-align: middle;
    line-height: 1.1rem;
    color: #519657;
    margin-left: 0.5rem;
    border: 1px solid #e8f5e9;
    border-radius: 1rem;
}
span.delete_tab:hover,
span.metadata_remove_author:hover{
    cursor: pointer;
    border: 1px solid #b2fab4;
    border-radius: 1rem;
    background: #b2fab4;
}
span.dependencies_controls_addtab.disabled:hover{
    cursor: auto;
}
div.modules_contents > div,
div.dependencies_contents > div{
    display: none;
    border: 2px solid #75a478;
    padding: 0.5em;
    margin: 0;
    width: 100%;
    border-radius: 4px;
}
div.modules_contents div.selected_tab_content,
div.dependencies_contents div.selected_tab_content{
    display: block;
}
span.modules_controls_addtab,
span.dependencies_controls_addtab{
    border: 2px solid #75a478;
    border-left: none;
    padding: 0 0.5em;
    margin-right: 0.5em;
    border-radius: 4px;
}
/* Capabilities */
div.capabilities_list{
    display: block;
}
dl.capabilities_list{
    margin: 0.5em;
}
dl.capabilities_list dd{
    margin: 0;
}
/* Metadata */
div.metadata_list{
    display: block;
}
div.metadata_authors{
    display: block;
}
div.metadata_author_list{
    display: block;
}
span.name{
    padding: 0 2px;
    vertical-align: middle;
}