div.title{
    /* ヘッダー */
    display: none;
}
.title_icon{
    display: block;
}
div.header_menu_alt{
    display: none;
}
div.header_menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
div.content{
    /* コンテンツ */
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: hidden;
}
div.data_check{
    /* データチェック */
    overflow-y: unset;
    height: auto;
    flex-basis: auto;
}
div.preview{
    /* プレビュー */
    display: none;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
div.separator{
    /* セパレータ */
    display: none;
}