.value-element {
  grid-template-columns: 1fr;
}
.value-checkbox,
.value-toggle {
  grid-column: 1;
}
.value-input.type-uuid {
  grid-template-columns: 1fr;
}
@media (max-width: 41rem) {
  div.title {
    /* ヘッダー */
    display: none;
  }
  .title-icon {
    display: block;
  }
  div.header-menu-alt {
    display: none;
  }
  div.header-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .menu_button {
    color: var(--color-header-text);
    display: inline-block;
    margin: 0;
    padding: 0.5em;
    transition-duration: 0.5s;
    transition-property: background-color;
  }
  .menu_button:hover {
    cursor: pointer;
    background-color: var(--color-header-hover);
  }
  .menu_button > p {
    margin: 0;
  }
  .menu_button.disabled {
    display: none;
  }
  div#show-preview {
    position: relative;
  }
  div#show-preview.active {
    background-color: var(--color-header-hover);
  }
  div.content {
    /* コンテンツ */
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: hidden;
  }
  .editor-element-legend {
    padding: 1rem;
  }
  div.value-input > input {
    /* エディタ */
    width: auto;
    max-width: inherit;
    min-width: 0;
  }
  div.value-input.type-uuid input,
  div.author-adder input {
    width: auto;
    max-width: inherit;
    min-width: 0;
  }
  input[type="number"] {
    min-width: 0;
    width: auto;
  }
  div.data_check {
    /* データチェック */
    overflow-y: unset;
    height: auto;
    flex-basis: auto;
  }
  div.preview {
    /* プレビュー */
    display: none;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  div.separator {
    /* セパレータ */
    display: none;
  }
}
