html{
    display: block;
    width: 100%;
    height: 100%;
}
body{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
div.content{
    display: flex;
    width: 100%;
    height: 100%;
}
::-webkit-scrollbar {
    width: 0.8rem;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 50, .5);
  border-radius: 10px;
  box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}
/* エディタ */
div.editor{
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: white #9aa3b8;
}
div.editor form{
    width: 100%;
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
}
/* プレビュー */
div.preview{
    display: block;
    width: 80%;
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: white #9aa3b8;
}
div.preview pre{
    white-space: initial;
}
/* セパレータ */
div.separator{
    display: block;
    width: 5px;
    height: 100%;
    background-color: gainsboro;
}
div.separator:hover{
    cursor: e-resize;
}