html{
    font-family: 'Meiryo',sans-serif;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--color_background);
}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--color_text);
}
fieldset{
    border-color: var(--color_boader);
    border-radius: 4px;
    word-wrap: anywhere;
}
input,textarea,select{
    font: inherit;
    color: var(--color_input_text);
    padding: 2px;
    border: 1px solid var(--color_input_boader);
    background-color: var(--color_input_background);
    border-radius: 4px;
}
input:focus,
textarea:focus,
select:focus{
    outline-color: transparent;
    -moz-outline-radius: 4px;
    box-shadow: 0 0 3px 1px var(--color_input_focus);
}
input:disabled,
textarea:disabled,
select:disabled{
    color: var(--color_disabled_text);
    border: 1px solid var(--color_input_disabled);
    border-radius: 4px;
    transition-duration: .5s;
    transition-property: color;
}
textarea{
    width: 50%;
}
select{
    padding: 0 2px;
}
select:hover{
    cursor: pointer;
}
textarea{
    width: 50%;
}
select{
    padding: 0 2px;
}
select:hover{
    cursor: pointer;
}
label{
    word-break: keep-all;
}
input:-webkit-autofill,
input:-internal-autofill-selected{
    background-color: black !important;
}
input[type="text"]{
    width: 50%;
    height: 1.5rem;
}
input[type="number"]{
    width: 3em;
    height: 1.5rem;
}
input[type="url"]{
    width: 50%;
    height: 1.5rem;
}
input[type="button"]{
    height: 1.5rem;
    vertical-align: middle;
    box-sizing: content-box;
    padding: 2px 0.5em;
}
input[type="button"]:hover{
    cursor: pointer;
    background-color: var(--color_button_hover);
}
input[type="button"]:disabled:hover{
    cursor: auto;
    background-color: var(--color_input_background);;
}
input[type="button"]:active{
    background-color: var(--color_button_active);
}
input[type="checkbox"]{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem;
    vertical-align: middle;
}
input[type="checkbox"]:hover{
    cursor: pointer;
}
input[type="checkbox"]:disabled:hover{
    cursor: auto;
}
input[type="checkbox"]:focus{
    outline-color: transparent;
    box-shadow: 0 0 3px 1px var(--color_input_focus);
}
label span:first-child+*,
label+*{
    margin: 0;
    margin-left: 1rem;
}
::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color_scrollbar-track);
  border-radius: 4px;
}
header{
    /* ヘッダー */
    color: var(--color_header_text);
    background-color: var(--color_header);
}
div.header_main{
    display: flex;
    height: 100%;
    justify-content: space-between;
    position: relative;
}
div.title{
    font-size: clamp(10px,1.5vw,16px);
    display: flex;
    align-items: center;
}
div.title h1{
    display: inline;
    padding: 0 0.5em;
    margin: 0;
}
div.title p{
    display: inline;
    margin: 0.5em;
    align-self: flex-end;
}
.title_icon{
    display: none;
    margin: 0 0.5rem;
    height: 2em;
    align-self: center;
}
div.header_menu{
    display: none;
    text-align: end;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
div.import_file{
    display: inline-block;
    padding: 0.5rem;
    position: relative;
}
div.import_file label{
    margin: 0;
}
div.import_file input{
    display: none;
}
div.header_menu>*{
    color: var(--color_header_text);
    display: inline-block;
    margin: 0;
    padding: 0.5em;
    transition-duration: 0.5s;
    transition-property: background-color;
}
div.header_menu p:hover,
div.header_menu div:hover{
    cursor: pointer;
    background-color: var(--color_header_hover);
}
div#show_preview{
    position: relative;
}
div.header_menu_alt{
    display: inline-flex;
    align-items: center;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
div.header_menu_alt > *{
    display: inline-flex;
    align-items: center;
    padding: 0.5rem;
    transition-duration: 0.5s;
    transition-property: background-color;
    position: relative;
    margin: 0;
    white-space: nowrap;
}
div.header_menu_alt > *.ondrag{
    outline: 5px dashed var(--color_header_text);
}
div.header_menu_alt > *.dragover,
div.header_menu_alt > *:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: var(--color_header_hover);
}
div.header_menu_alt > * p{
    margin: 0;
    padding-left: 0.5rem;
}
div.header_menu_alt a{
    display: inline-block;
    line-height: 0;
}
ul.more_info{
    display: none;
    list-style: none;
    position: absolute;
    z-index: 2;
    top: 3rem;
    right: 0;
    padding: 0;
    margin: 0;
    background-color: var(--color_header);
}
div.open_more_info:hover ul.more_info{
    display: block;
    z-index: 10;
}
ul.more_info a{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--color_header_text);
    transition-duration: 0.5s;
    transition-property: background-color;
}
ul.more_info a:hover{
    background-color: var(--color_header_2_hover);
}
div#page_help{
    display: none;
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
div.help_content{
    display: none;
    position: absolute;
    z-index: 10;
    margin: 1.5em 0;
    padding: 7px 10px;
    min-width: 12rem;
    max-width: 15rem;
    font-size: 16px;
    background: var(--color-help_content);
    text-align: center;
    border: solid 3px var(--color-help_content_border);
    border-radius: 1rem;
}
div.help_content.bottom{
    position: relative;
    align-self: center;
    max-width: 100%;
    margin: 1rem 1rem 0 1rem;
}
div.help_content.top::before{
    content: "";
    position: absolute;
    top: -24px;
    margin-left: -15px;
    border: 12px solid transparent;
    border-bottom: 12px solid var(--color-help_content);
    z-index: 12;
}
div.help_content.top:after {
    content: "";
    position: absolute;
    top: -30px;
    margin-left: -17px;
    border: 14px solid transparent;
    border-bottom: 14px solid var(--color-help_content_border);
    z-index: 11;
}
div.help_content.bottom:before {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 50%;
    margin-left: -15px;
    border: 12px solid transparent;
    border-top: 12px solid var(--color-help_content);
    z-index: 12;
}
div.help_content.bottom:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -17px;
    border: 14px solid transparent;
    border-top: 14px solid var(--color-help_content_border);
    z-index: 11;
}
div.help_content#help_content_1{
    left: -3rem;
}
div.help_content#help_content_1::before{
    right: 8rem;
}
div.help_content#help_content_1:after{
    right: 7.9rem;
}
div.help_content#help_content_3{
    left: -6rem;
}
div.help_content#help_content_3::before{
    right: 5rem;
}
div.help_content#help_content_3:after{
    right: 4.9rem;
}
div.help_content p{
    color: var(--color-help_content_text);
}
div.header_menu_alt img,
div.about_external_link img,
div#page_share img{
    width: 2rem;
}
div.page_about{
    display: none;
    z-index: 2;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color_header);
}
div.close_about{
    text-align: end;
}
div.close_about img{
    border-radius: 1em;
    transition-duration: 0.5s;
    transition-property: background-color;
}
div.close_about img:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: var(--color_header_hover);
}
div.about_content{
    text-align: center;
}
div.about_content>img{
    width: 50vw;
    max-width: 20rem;
}
div.about_external_link{
    display: block;
}
div.about_external_link a,
div#page_share{
    display: inline-block;
    line-height: 0;
    padding: 0.5rem;
    transition: 0.5s;
    border-radius: 1em;
}
div.about_external_link a:hover,
div#page_share:hover{
    transition: 0.5s;
    background-color: var(--color_header_hover);
}
div.content{
    /* コンテンツ */
    display: flex;
    width: 100%;
    height: 100%;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color_scrollbar-track) transparent;
}
div.editor{
    /* エディタ */
    display: block;
    flex-basis: 100%;
    flex-grow: 2;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--color_scrollbar-track) transparent;
}
div.editor.drag_lock{
    user-select: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}
div.editor form{
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}
fieldset div{
    display: flex;
    align-items: center;
    margin: 2px 0;
}
.disabled{
    color: var(--color_disabled_text);
    transition-duration: 1s;
    transition-property: color;
}
.disabled:hover{
    cursor: auto;
}
div.tab_contents{
    display: block;
    margin: 0;
}
div.modules_controls,
div.modules_contents,
div.tab_controls,
div.tab_content_list{
    /* タブ */
    margin: 0;
}
div.modules_controls_bar,
div.tab_controls_bar{
    position: relative;
    top: 1px;
    left: 2px;
    margin: 0;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

}
ul.modules_controls_tab,
ul.tab_controls_bar_tab{
    display: flex;
    padding: 0;
    margin: 0;
}
ul.modules_controls_tab li,
ul.tab_controls_bar_tab li{
    border: 2px solid var(--color_boader_2);
    border-bottom: transparent;
    padding: 0 0.5em;
    list-style: none;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    white-space: nowrap;
}
ul.modules_controls_tab li+li,
ul.tab_controls_bar_tab li+li{
    border-left: none;
}
ul.modules_controls_tab li:hover,
span.modules_controls_addtab:hover,
ul.tab_controls_bar_tab li:hover,
span.tab_controls_addtab:hover{
    cursor: pointer;
}
.disabled ul.tab_controls_bar_tab li:hover,
.disabled span.tab_controls_addtab:hover{
    cursor: auto;
}
ul.modules_controls_tab li.selected_tab,
ul.tab_controls_bar_tab li.selected_tab{
    background: var(--color_boader_2);
    border-bottom: 2px solid var(--color_boader_2);
    color: var(--color_selected_tab);
}
ul.modules_controls_tab li.selected_tab span.delete_tab,
ul.tab_controls_bar_tab li.selected_tab span.delete_tab{
    color: var(--color_selected_tab);
}
li:first-child:last-child span.delete_tab{
    display: none;
}
span.delete_tab,
span.metadata_delete_author{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    box-sizing: content-box;
    text-align: center;
    vertical-align: middle;
    line-height: 1.1rem;
    color: var(--color_delete_icon);
    margin-left: 0.5rem;
    border-radius: 1rem;
}
span.delete_tab:hover,
span.metadata_delete_author:hover{
    cursor: pointer;
    border-radius: 1rem;
    background-color: var(--color_delete_hover);
    color: var(--color_selected_tab);
}
.disabled span.delete_tab:hover{
    cursor: auto;
    background-color: inherit;
    color: inherit;
}
div.modules_contents > div,
div.tab_content_list > div{
    display: none;
    border: 2px solid var(--color_boader_2);
    padding: 0.5em;
    margin: 0;
    width: 100%;
    border-radius: 4px;
}
div.modules_contents div.selected_tab_content,
div.tab_content_list div.selected_tab_content{
    display: block;
}
span.modules_controls_addtab,
span.tab_controls_addtab{
    border: 2px solid var(--color_boader_2);
    border-bottom: transparent;
    border-left: none;
    padding: 0 0.5em;
    margin-right: 0.5em;
    border-radius: 4px 4px 0 0;
}
div.capabilities_list{
    /* Capabilities */
    display: block;
}
div.metadata_list{
    /* Metadata */
    display: block;
}
div.metadata_authors{
    display: block;
}
div.metadata_author_list{
    display: block;
}
div.metadata_author_list span.name{
    padding: 0 2px;
    vertical-align: middle;
}
div.data_check{
    /* データチェック */
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex-basis: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--color_scrollbar-track) transparent;
    background-color: var(--color_background);
}
div.data_check.drag_lock{
    user-select: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}
div.preview{
    /* プレビュー */
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color_scrollbar-track) transparent;
    flex-grow: 1;
    background-color: var(--color_background_2);
}
div.preview_contlrol_bar{
    display: flex;
    justify-content: flex-end;
    background-color: var(--color_toolbar);
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
div.preview_contlrol_bar p{
    margin: 0;
    padding: 0.5em;
}
div.preview_contlrol_bar p:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: var(--color_toolbar_hover);
}
div.preview pre{
    margin: 1rem;
    white-space: initial;
    scrollbar-width: thin;
    scrollbar-color: var(--color_scrollbar-track) transparent;
}
textarea#code_buffer{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    width: 1px;
    height: 1px;
}
div.issue{
    /* イシュー */
    bottom: 0;
    width: 100%;
}
div.issue_contlrol_bar{
    display: flex;
    background-color: var(--color_toolbar);
    padding: 2px;
    vertical-align: middle;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
div.issue_contlrol_bar:hover{
    cursor: pointer;
}
div.issue_contlrol_label img{
    width: 1.5rem;
    transition: 0.5s;
    vertical-align: middle;
}
div.issue_contlrol_label img.open{
    transform-origin: center;
    transform: rotate(180deg);
}
div.issue_contlrol_label span{
    vertical-align: middle;
}
div.issue_contlrol_num{
    display: flex;
    align-items: center;
}
div.issue_contlrol_num div{
    padding: 0 0.5rem;
    line-height: 0;
    font-size: 0;
    display: flex;
    align-items: center;
}
div.issue_contlrol_num div *{
    line-height: normal;
    font-size: medium;
}
div.issue_contlrol_num div+div{
    padding-left: 0;
}
div.issue_contlrol_warning span,
div.issue_contlrol_error span{
    align-self: center;
}
div.issue_contlrol_warning img,
div.issue_contlrol_error img{
    width: 1.2rem;
    vertical-align: middle;
}
ul.issue_list{
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 40vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--color_scrollbar-track) transparent;
}
ul.issue_list li{
    padding: 2px;
    background-color: var(--color_background);
}
ul.issue_list li:nth-child(2n){
    background-color: var(--color_background_2);
}
ul.issue_list li img{
    width: 1.2rem;
    vertical-align: middle;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
ul.issue_list li p{
    display: inline;
    margin: 0;
    padding: 2px;
}
div.separator{
    /* セパレータ */
    display: block;
    width: 5px;
    flex: 0 0 5px;
    height: 100%;
    background-color: var(--color_separator);
}
div.separator:hover{
    cursor: e-resize;
}