html{
    display: block;
    width: 100%;
    height: 100%;
}
body{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
div.content{
    display: flex;
    width: 100%;
    height: 100%;
}
/* プレビュー */
div.preview{
    display: block;
    width: 420px;
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
}
div.codepreview{
    background-color: dimgray;
}
/* エディタ */
div.editor{
    display: block;
    width: 100%;
    height: 100%;
}
div.editor form{
    width: 100%;
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
}
/* セパレータ */
div.separator{
    display: block;
    width: 5px;
    height: 100%;
    background-color: gainsboro;
}
div.separator:hover{
    cursor: e-resize;
}